.Footer {
  background-color: #5cb15a;
  margin-bottom: 0px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.footerIcon {
  font-size: 4vh
}

.needLogin {
  color: white;
  font-size: 2vh;
}